/**
 * CSS Document * 
 * Created by Jessie 2016/11/18.
 */
@import "common/reset";
@import "common/grids";
@import "common/common";
.js{
  dt{height: 120px;background: url("../images/analyze_line.png") repeat-x left bottom;font:bold 36px/120px @font-yahei;color: #0153a5;}
  dd{.mt20;font:12px/40px @font-yahei;color: #333;text-indent: 2em;}
}
.tbjm-row01{background: #f8f8f8;.text-center;padding: 30px 0;
  .main{.center-block(1250px);.clearfix;}
  .l-box{.dis-in-b;.float-left;width: 430px;}
  .r-box{.dis-in-b;.float-right;width: 750px;.text-right;img{max-width: 100%;}}
}
.tbjm-row02{background: #fff;.text-center;padding: 30px 0;
  .main{.center-block(1250px);.clearfix;}
  .l-box{.dis-in-b;.float-left;width: 600px;.text-left;img{max-width: 100%;}}
  .r-box{.dis-in-b;.float-right;width: 574px;}
}